#Geeks {
   width: 800px;
   height: 1200px;
   display: flex;
      border: 1px solid rgb(32, 150, 246);
      margin-left: 400px;
      
      box-shadow: 1px 3px 3px 3px grey;
      
}
.front{
   text-align: center;
}
img{
   width: 122px;
   height:100px;
   padding-left: 40px;
   padding-top: 20px;
}
.GFG2 > h3{
  
   padding-left: 20px;}


.i , .o{
   background-color: rgb(16, 16, 78);
     

}

h4{
   padding-left: 20px;
}

.GFG1 {
   
      padding-left: 30px;
      padding-right: 20px;
      width: 700px;
}

.GFG2{
      background-color: rgb(12, 12, 117) ;
      width: 210px;
      /*width:500px;*/
      padding-left: 0px;
      color: aliceblue;
      
  }

  .k{
      display: flex;
  }

.h{
      padding-left: 10px;
  }
  .m{
      padding-left: 10px;
  }
 
  *{
   box-sizing: border-box;
  }

    .container{
   background-color: rgb(16, 16, 78);
   width:80%;
   margin-left: 10px;
  }

 .skills{
   text-align: right;
   padding-top: 0px;
   padding-bottom: 10px;

 } 

 .html
   {width: 90%; background-color: white;
   }
p {
   padding-left: 20px;
}   
h5{
   text-align: right;
   padding-right:15px ;
   padding-top: 0px;
}

.css{
width: 90%;
background-color: aliceblue;
}
.js
{width: 50%; background-color: white;
   }
.node{width: 50%; background-color: aliceblue;}   
.express{width: 50%; background-color: aliceblue;}
.sql{width: 50%; background-color: aliceblue;}

